*










/*----------------------- GLOBAL ---------------------------*/


{
 margin:0;padding:0;
}
html,body
{
    font-family: 'Lato', sans-serif;
    height: 100%;
    color: #fff;
}


button{
    font-family: 'Lato', sans-serif;
    height: 3rem;
    min-width: 3rem;
    font-size: 1rem;
    font-weight: 700;
    border-style: none;
    background: content-box;
    padding: 0 1rem 0 1rem;
    color: #fff;
}

input{
    font-size: 1rem;
    background: #252525;
    padding-left:0.5rem;
    border-radius:0.75rem;
    outline:none;
    border:none;
    font-family: 'Lato', sans-serif;
    color:rgb(197, 197, 197);
    
}

input::placeholder{
    font-weight: 300;
    font-size: 0.85rem;
    color:rgb(197, 197, 197);
}


.seekBar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    outline: 0;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 0rem;
}

.seekBar:hover {
    opacity: 1;
}

.seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: #542ca2;
    cursor: pointer;
}

.seekBar::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: #542ca2;
    cursor: pointer;
}



/*----------------------- Header ---------------------------*/

.header
{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background: #542ca2;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.logoIMG{
    height:3rem;
}
/*----------------------- Content ---------------------------*/
.content{
    padding-top: 3rem;
    box-sizing: border-box;
    height:100%;
    display:flex;
    flex-direction: column;
}






/*----- Player Container ----------*/

.playerContainer{
    display:flex;
    flex:0 17rem;
    flex-direction: column;
}


/*---------------- Player Screen ----------------*/

.playerScreen
{
   background:#101010;
   width:100%;
   flex: 1;
}

video, iframe{
    height:100%;
    width:100%;
}


/*--------------- Player Controls ----------------*/
.playerControls{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:5rem;
    width:100%;
    background: #101010;
}

.playBackCommandsRow{
    display:flex;
    justify-content: center;
    align-items: center;
}

#playPause{
    font-size: 0.5rem;
    padding-bottom:0.1255rem;
}

/*-------------------------------------------- Seek Row -------------------------------------------*/
.seekRow{
    display:flex;
    align-items: center;
}


/*------------------------------------------- Buttons Row -----------------------------------------*/
.buttonRow{
    margin-top: 0.25rem;
    display:flex;
}


/*---------------------------------------- Buttons COL1----------------------------------------------*/
.controls1{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}

#showLoadURL {
    font-size: 0.5rem;
}

/*---------------------------------------- Buttons COL2 -----------------------------------------------*/
.controls2{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}
/*------------------------------------------ Buttons COL3 ----------------------------------------------*/
.controls3{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*---------------------------------------------------  HIDDEN --------------------------------------------------------------------*/

#hideControls{
 display:flex;
 justify-content: center;
 align-items: center;
 font-size:1rem;
 width:25%;
 height:100%;
}

.hiddenControls{
    margin-top:0.25rem;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------------- URL LOAD --------------------------------------------------------------------*/



.urlLoad{
    align-items: center;
    height:100%;
    width:100%
}
.urlInputText{
    height:65%;
    width:70%;
    
}




/*---------------------------------------------------------------SEEK TO TIMESTAMP ----------------------------------------------------------------*/


.seekToRow {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
}

.seekToRow input {
    height:65%;
    width:22%;
    margin-left:0.75rem; 
    padding-left:0.25rem;
    border-radius: 0.5rem;
}

#seek{
    width: 25%;
    font-size: .85rem;
}

#hour{
    margin-left:0rem;
}



/*-------------------------------------------------------------- VOLUME SLIDEBAR ----------------------------------------------------------------*/

.volumeInput{
    height:90%;
    width:100%;
    display: flex;
}

.volumeInput input{
    width:40%;
}

/*---------------------  Chat Container --------------------*/

.chatContainer{
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0.5rem 0 #141414;
    overflow: auto;
    box-sizing: border-box;
}



/*---------------------  Chat Messages--------------------*/

.chatMsgs{
    width:100%;
    flex: 1;
    display:flex;
    flex-direction: column-reverse;
    background: #2e2e2e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: auto;
    box-shadow: inset 0 0px 5px 0px #141414;
}

li {
    display:flex;
    margin-left:1rem;
}

.username{
    padding-top:0.75rem;
    font-size:0.8rem;
}

.msg{
    font-size:0.75rem;
    font-weight: 300;
    color: #e8e8e8;
}


/*---------------------  Chat Bar --------------------*/

.chatBar{
    height:4rem;
    width:100%;
    background: #1d1d1d;
    display:flex;
    justify-content: center;
    align-items: center;
    }

    .chatBarForm{
        display: flex;
    }

    .chatInputText{
    height:2rem;
    width:80%;
    border-radius:0.75rem;
    box-shadow:0 0px 2px 0px #141414;
    }

    .submitChat{
    background:#eb3434;
    border-radius: 0.5rem;
    width:4.5rem;
    font-size:0.75rem;
    height:2rem;
    margin-left: 1rem;
    box-shadow: inset 0px 0px 2px 0px black;

    }



/*------------------HIDDEN NEW USER SECTION ---------------------------*/


 
.newUserWrapper {
    width:100%;
    display:flex;
    flex-direction: column;
    background:rgb(53, 53, 53);
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0.5rem 0 #141414;
    flex: 1;
}

.middleNewUserWrapper{
    width:80%;
    height:80%;
    background: rgb(29, 29, 29);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameText {
    outline: 0;
    margin-bottom: 1rem;
    height:2rem;
    margin-top: 1rem;
    box-shadow:0 0px 2px 0px #141414;
}


.submitUserButton {
    width: 50%;
    height: 1.5rem;
    font-size:0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    color: #fff;
    outline: 1rem;
    background: #eb3434;
    outline-color: #000;
    text-shadow: 0 0 10px #464646;
}

.joinChatText{
    font-size: 1.5rem;
    font-size:3vh;
}







    
    
    
    






/*--------------------------------------------------------LANDSCAPE-------------------------------------------------------------------*/


@media only screen and (orientation:landscape) and (max-width:820px) {

    .content{
        flex-direction: row;
    }
    
    .playerContainer{
        flex:1;
    }
    
    .chatContainer{
        display:none !important;
    }
    
    .newUserWrapper{
        display:none !important;
    }
    }



    /*--------------------------------------------------------LARGE PHONE PORTRAIT MODE-------------------------------------------------------------------*/

    @media only screen and (max-width:1025px) and (min-height:700px){

       
        .playerContainer{
            flex:0 22rem;
        }
        
    
        }
    

        
    @media only screen and (max-width:1025px) and (min-height:800px){

       
        .playerContainer{
            flex:0 25rem;
        }
        
    
        }
    

        @media only screen and (max-width:1025px) and (min-height:1000px){

       
            .playerContainer{
                flex:0 30rem;
            }
            
        
        }
        






/*--------------------------------------------------------------PC SIZING ----------------------------------------------------------*/
@media only screen and (min-width : 1025px) {


/*----------------------- GLOBAL ---------------------------*/

::-webkit-scrollbar {
    width: 0.5rem;
    background: #1d1d1d;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000;
}
::-webkit-scrollbar-thumb {
    background: #eb3434;
    border-radius: 10px;
}

html, body{
    font-size:1rem;
}

button {
    height:4rem;
    font-size:1rem;
}

input {
    font-size:1rem;
    height:2rem;
    color:white;
}

.seekBar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    outline: 0;
    opacity: 1;
   
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: unset;
}

.seekBar:hover {
    opacity: 1;
}

.seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: #542ca2;
  
    cursor: pointer;
}

.seekBar::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: #542ca2;
   
    cursor: pointer;
}

input::placeholder{
    font-weight: 300;
    font-size: 1rem;
    color:rgb(197, 197, 197);
}

/*----------------------- HEADER ---------------------------*/

.header{
    height:4rem;
}

.logoIMG{
    height:2.5rem;
}

/*----------------------- Content ---------------------------*/
    .content{
        padding-top:4rem;
        flex-direction:row;
    }



/*-------------------   Player Container --------------------*/
    .playerContainer{
        flex: 1 70%;
        height:100%;
    }

    .playerScreen{
        height:100%;
    }

    .playerControls{
        height:7rem;
        justify-content: normal;
    }

    #showLoadURL{
        height:100%;
        font-size: 1rem;
    }

    .buttonRow{
        height:3rem
    }

    .seekRow{
        height:3rem;
    }

    .hiddenControls{
        height:3.5rem;
        justify-content: center;
        align-items: center;
    }
    #hideControls{
        font-size:1rem;
    }

    #urlSubmit{
        font-size:1rem;
        height:2rem;
        width:6rem;
        width: 25%;
        margin-bottom: 0.25rem;
    }

    .urlInputText{
        height:70%;
    }
    .urlLoad{
     
    }

    .seekToRow{
       align-items: center;
    }
    .seekToRow input{
        height:50%;
        border-radius: 0.25rem;
        
    }
    
    #seek{
        font-size: 1rem;
    }

    .volumeInput{
        align-items: center;
    }

    .volumeInput input{
        width: 70%;
    }
    
    
    #playPause{
        font-size: 1rem;
    }

/*---------------------  Chat Container --------------------*/

    .chatContainer{
        flex: 1 30%;
        height:100%;
    }

    .msgArea{
        height:100%;
    }

    .chatInputText{
        height:1rem;
        width:5rem;
    }

    .chatBar{
        height:7rem;
    }

 

    /*---------------------  Chat Messages--------------------*/

    .chatMsgs{
        overflow:auto;
        overflow-y: scroll;
    }

    li {
        margin-left:1rem;
    }

    .username{
        padding-top:1rem;
        font-size: 1.15rem;
    }

    .msg{
        font-size: 1rem;
        font-weight: 300;
        color: #e8e8e8;
    }


/*---------------------  Chat Bar --------------------*/

    .chatBarForm{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        width: 100%;
        ;
    }

    .chatInputText{
        width: 80%;
        height:2rem;
        font-size:1rem;
        border-radius: 0.25rem;
    }

    .submitChat{
        margin-top:0.5rem;
        margin-left:50%;
        width:4rem;
        height:1.5rem;
        border-radius: 0.35rem;
        margin-left: 63%;
        font-size: 0.75rem;
    }











/*------------------HIDDEN NEW USER SECTION ---------------------------*/


 
.newUserWrapper {
    width:30%;
    height:100%;
    display:flex;
    flex-direction: column;
    background:rgb(53, 53, 53);
    align-items: center;
    justify-content: center;
    flex: 1 30%;

}

.middleNewUserWrapper{
    width:80%;
    height:50%;
    background: rgb(29, 29, 29);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usernameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernameText {
   height:3rem;
   width:100%;
   font-size:1rem;
   margin-bottom:1rem;
   margin-top: 1rem;
}


.submitUserButton {
  height:2.5rem;
  width:7rem;
}

.joinChatText{
    font-size: 2.5rem;
}




}